<div class="container">


  <h1>Home#answer</h1>
  <p>Find me in app/views/home/answer.html.erb</p>

  <p>You: </p>
  <h3>  <%= @question  %></h3>
  <br>
  <h3>Coach answer: </h3>
  <%= @answer %>

  <br>
  <%= link_to 'Back to Ask page', ask_path %>

</div>
